@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  font-family: "DM Sans", serif;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.header {
  padding-top: 28px;
  background: url(/images/bg-header.png) no-repeat center/cover;
}
.header-cards {
  display: flex;
  padding: 41px 79px 48px 71px;
  justify-content: flex-end;
  align-items: center;
  background: rgba(0, 0, 0, 0.604);
  row-gap: 10px;
  -moz-column-gap: 200px;
       column-gap: 200px;
  margin-left: 232px;
}
.header__button {
  color: white;
  background: #dd2242;
  padding: 26px 64px;
  border-radius: 211px;
  cursor: pointer;
  margin-left: 232px;
  margin-top: 20px;
  margin-bottom: 241px;
}
.header__title {
  font-weight: 900;
  font-size: 120px;
  line-height: 108%;
  text-transform: uppercase;
  color: white;
  margin-top: 200px;
  margin-left: 230px;
}
.header .right-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-right: 140px;
}
.header-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.header-list__number {
  color: red;
  font-weight: 900;
}
.header-list__title {
  color: white;
  font-size: 26px;
  font-weight: 700;
}
.header-list__desc {
  color: gray;
  font-size: 18px;
  letter-spacing: 0.03em;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navigation-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 62px;
       column-gap: 62px;
}
.header-navigation-list-item__link {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 200px;
  padding: 338px 207px;
  background: url(/images/card-background.jpg) no-repeat center/cover;
}
.main-card {
  display: flex;
  align-items: center;
  -moz-column-gap: 130px;
       column-gap: 130px;
}
.main-card-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.main-card-info__btn {
  color: whitesmoke;
  background: #dd2242;
  border-radius: 30px;
  padding: 16px 40px;
  align-self: flex-start;
  margin-top: 32px;
}
.main-card-info__title {
  color: whitesmoke;
}
.main-card-info__desc {
  color: grey;
}
.main-card__photo {
  width: 50%;
  height: 460px;
  border-radius: 20px;
}

.secrets {
  background: url(/images/landscape.png) no-repeat center/cover;
}
.secrets-numbers {
  display: flex;
  padding: 200px 322px 224px 322px;
  justify-content: center;
  flex-direction: column;
  margin-top: 1000px;
  background: rgba(2, 12, 33, 0.937254902);
}
.secrets-numbers__title {
  color: white;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 36px;
}
.secrets-numbers__desc {
  color: gray;
  text-align: center;
  margin-bottom: 40px;
}
.secrets-numbers-cards {
  display: flex;
  justify-content: space-between;
}
.secrets-numbers-cards-item__title {
  font-size: 46px;
  font-weight: 700;
  color: #dd2242;
  text-align: center;
}
.secrets-numbers-cards-item__desc {
  font-size: 18px;
  margin-top: 18px;
  color: gray;
  text-align: center;
}
.secrets__title {
  text-align: center;
  margin-top: 130px;
  font-size: 50px;
  font-weight: 900;
}
.secrets-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
  margin-top: 44px;
}

.learn {
  background: url(/images/bg-Learn.jpg) no-repeat cover/center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.learn__title {
  margin-top: 250px;
  font-size: 42px;
  text-align: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.learn__desc {
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
}
.learn__btn {
  margin-top: 40px;
  background: #dd2242;
  color: whitesmoke;
  border-radius: 30px;
  width: 210px;
  height: 60px;
  margin-bottom: 260px;
}

.life {
  background: url(/images/life-bg.png) no-repeat center/cover;
  padding: 142px 285px 210px 360px;
  display: flex;
  flex-direction: column;
}
.life-cards {
  display: flex;
  justify-content: space-between;
}
.life-cards-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.life-cards-item-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  row-gap: 15px;
}
.life-cards-item-info__title {
  color: white;
}
.life-cards-item-info__desc {
  color: grey;
}
.life__title {
  color: white;
  font-size: 42px;
  text-align: center;
  line-height: 119%;
  font-weight: 700;
  margin-bottom: 120px;
}
.life__poster {
  margin-bottom: 124px;
}

.plan {
  background: #DCE8F2;
  padding: 120px 390px;
}
.plan-list {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  position: relative;
}
.plan-list::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 83%;
  background: rgba(0, 0, 0, 0.299);
  left: -40px;
}
.plan-list-item {
  position: relative;
}
.plan-list-item:nth-child(2)::before {
  content: "2";
}
.plan-list-item:nth-child(3)::before {
  content: "3";
}
.plan-list-item::before {
  content: "1";
  color: white;
  background: #dd2242;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: -60px;
  top: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plan-list-item__desc {
  color: grey;
}
.plan-list-item__title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 28px;
}
.plan__title {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 44px;
}
.plan__btn {
  color: white;
  background: #dd2242;
  padding: 20px 60px;
  border-radius: 30px;
  margin-top: 17px;
}
.footer {
  position: relative;
  padding: 40px 150px 40px 0px;
  background: #010A20;
}
.footer__logo__photo {
  width: 180px;
  height: 65px;
}
.footer-navigation {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.footer-navigation__arrow {
  cursor: pointer;
  position: absolute;
  bottom: 100px;
  right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: #dd2242;
  border-radius: 50%;
  font-size: 40px;
  color: whitesmoke;
  rotate: -90deg;
  text-align: center;
}
.footer-navigation-list {
  align-items: center;
  -moz-column-gap: 35px;
       column-gap: 35px;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  color: white;
}