@import "colors";
@import "reset";
@import "fonts";
@import "templates";
@import "mixins";
html {
  scroll-behavior: smooth;
}
.header {
  &-cards {
    display: flex;
    padding: 41px 79px 48px 71px;
    justify-content: flex-end;
    align-items: center;
    background: rgba(0, 0, 0, 0.604);
    row-gap: 10px;
    column-gap: 200px;
    margin-left: 232px;
    @media (max-width: 375px) {
      flex-direction: column;
      column-gap: unset;
      margin-left: 30px;
      row-gap: 30px;
      margin-right: 30px;
    }
  }
  &__button {
    color: white;
    background: #dd2242;
    padding: 21px 90px;
    border-radius: 211px;
    cursor: pointer;
    margin-left: 29px;
    margin-top: 20px;
    margin-bottom: 241px;
    @media (max-width: 375px) {
      width: 80%;
      margin-bottom: 30px;
    }
  }
  &__title {
    @media (max-width: 375px) {
      font-size: 58px;
      margin-top: 45px;
      margin-left: 30px;
    }
    font-weight: 900;
    font-size: 120px;
    line-height: 108%;
    text-transform: uppercase;
    color: white;
    margin-top: 200px;
    margin-left: 230px;
  }
  padding-top: 28px;
  .right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
    margin-right: 140px;
  }
  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    &__number {
      color: red;
      font-weight: 900;
    }
    &__title {
      color: white;
      font-size: 26px;
      font-weight: 700;
    }
    &__desc {
      color: gray;
      font-size: 18px;
      letter-spacing: 0.03em;
    }
  }
  &-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-list {
      display: flex;
      align-items: center;

      @media (max-width: 375px) {
        column-gap: 22px;
      }
      &-item__link {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        @media (max-width: 375px) {
          display: none;
        }
      }
    }
  }
  background: url(/images/bg-header.png) no-repeat center/cover;
}
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 200px;
  padding: 338px 207px;
  background: url(/images/card-background.jpg) no-repeat center/cover;
  @media (max-width: 375px) {
    padding: 40px 30px;
    row-gap: 30px;
  }
  &-card {
    display: flex;
    align-items: center;
    @media (max-width: 375px) {
      flex-direction: column;
    }
    &:nth-child(2) {
      @media (max-width: 375px) {
        flex-direction: column-reverse;
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      &__btn {
        @media (max-width: 375px) {
          width: 100%;
          padding: 20px 0px 20px 0px;
        }
        color: whitesmoke;
        background: #dd2242;
        border-radius: 30px;
        padding: 16px 40px;
        align-self: flex-start;
        margin-top: 32px;
      }
      &__title {
        color: whitesmoke;
      }
      &__desc {
        color: grey;
      }
    }
    column-gap: 130px;
    &__photo {
      @media (max-width: 375px) {
        width: 100%;
        height: 232px;
        margin-bottom: 33px;
      }
      width: 50%;
      height: 460px;
      border-radius: 20px;
    }
  }
}
.secrets {
  background: url(/images/landscape.png) no-repeat center/cover;
  @media (max-width: 375px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  &-numbers {
    display: flex;
    padding: 200px 322px 224px 322px;
    justify-content: center;
    flex-direction: column;
    margin-top: 1000px;
    background: #020c21ef;
    @media (max-width: 375px) {
      padding: 70px 30px;
      margin-top: 735px;
      width: 100%;
      margin-left: -31px;
    }
    &__title {
      color: white;
      font-size: 60px;
      text-align: center;
      font-weight: 700;
      margin-bottom: 36px;
      @media (max-width: 375px) {
        font-size: 40px;
      }
    }
    &__desc {
      color: gray;
      text-align: center;
      margin-bottom: 40px;
    }
    &-cards {
      display: flex;
      justify-content: space-between;
      @media (max-width: 375px) {
        flex-direction: column;
        row-gap: 85px;
      }
      &-item {
        &__title {
          font-size: 46px;
          font-weight: 700;
          color: #dd2242;
          text-align: center;
        }
        &__desc {
          font-size: 18px;
          margin-top: 18px;
          color: gray;
          text-align: center;
        }
      }
    }
  }
  &__title {
    text-align: center;
    padding-top: 130px;
    font-size: 50px;
    font-weight: 900;
    @media (max-width: 375px) {
      padding-top: 30px;
      font-size: 40px;
    }
  }
  &-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    margin-top: 44px;
    @media (max-width: 375px) {
      flex-direction: column;
      row-gap: 30px;
    }
    &-cards__image {
      @media (max-width: 375px) {
        width: 100%;
      }
    }
  }
}

.learn {
  background: url(/images/bg-Learn.jpg) no-repeat cover/center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media (max-width: 375px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  &__title {
    margin-top: 250px;
    font-size: 42px;
    text-align: center;
    column-gap: 30px;
    @media (max-width: 375px) {
      margin-top: 130px;
    }
  }
  &__desc {
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
  }
  &__btn {
    margin-top: 40px;
    background: #dd2242;
    color: whitesmoke;
    border-radius: 30px;
    width: 210px;
    height: 60px;
    margin-bottom: 260px;
    @media (max-width: 375px) {
      width: 100%;
      margin-bottom: 116px;
    }
  }
}
.life {
  background: url(/images/life-bg.png) no-repeat center/cover;
  padding: 142px 285px 210px 360px;
  display: flex;
  flex-direction: column;
  @media (max-width: 375px) {
    padding: 80px 30px;
  }
  &-cards {
    display: flex;
    justify-content: space-between;
    @media (max-width: 375px) {
      flex-direction: column;
      row-gap: 30px;
    }
    &-item {
      &__photo {
        @media (max-width: 375px) {
          width: 100%;
        }
      }
      display: flex;
      align-items: center;
      column-gap: 40px;
      @media (max-width: 375px) {
        flex-direction: column;
        align-items: center;
      }
      &-info {
        display: flex;
        flex-direction: column;
        text-align: left;
        row-gap: 15px;

        &__title {
          color: white;
        }
        &__desc {
          color: grey;
        }
      }
      &__photo {
      }
    }
  }

  &__title {
    color: white;
    font-size: 42px;
    text-align: center;
    line-height: 119%;
    font-weight: 700;
    margin-bottom: 120px;
    @media (max-width: 375px) {
      margin-bottom: 70px;
    }
  }
  &__poster {
    margin-bottom: 124px;
    @media (max-width: 375px) {
      margin-bottom: 40px;
    }
  }
}
.gallery{
  padding: 177px 372px 229px 378px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width:375px) {
    padding: 30px;
  }
  &__title{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 42px;
    @media (max-width:375px) {
      font-size: 40px;
    }
  }
  &__desc{
    color: #6F7787;
    font-size: 18px;
    margin-bottom: 72px;
    text-align: center;
  }
  &-cards{
    display: flex;
    column-gap: 30px;
    @media (max-width:375px) {
      flex-wrap: wrap;
    }
    &-item{
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      @media (max-width:375px) {
        flex-direction: row;
      }
      &__photo{
        @media (max-width:375px) {
          width: 48%;
        }
      }
    }
  }
}
&-cards {
  display: flex;
  column-gap: 30px;
  @media (max-width: 375px) {
    flex-wrap: wrap;
  }
  &-item {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    @media (max-width: 375px) {
      flex-direction: row;

    }
    &__photo {
      @media (max-width:375px) {
        width: 48%;
      }
    }
  }
}
&__title {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 42px;
  @media (max-width: 375px) {
    font-size: 40px;
  }
}
.plan {
  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 83%;
      background: rgba(0, 0, 0, 0.299);
      left: -40px;
      @media (max-width: 375px) {
        display: none;
      }
    }
    &-item {
      &:nth-child(2)::before {
        content: "2";
      }
      &:nth-child(3)::before {
        content: "3";
      }
      position: relative;
      &::before {
        content: "1";
        color: white;
        background: #dd2242;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        left: -60px;
        top: -4px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 375px) {
          left: 42%;
          top: -50px;
          width: 50px;
          height: 50px;
        }
      }
      &__desc {
        color: grey;
      }
      &__title {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 28px;
        @media (max-width: 375px) {
          text-align: center;
        }
      }
    }
  }
  &__title {
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 44px;
    @media (max-width: 375px) {
      font-size: 40px;
      max-block-size: 80px;
    }
  }
  background: #dce8f2;
  padding: 120px 390px;
  @media (max-width: 375px) {
    padding: 28px 58px;
  }
  &__btn {
    color: white;
    background: #dd2242;
    padding: 20px 60px;
    border-radius: 30px;
    margin-top: 17px;
  }
  .buttons::before {
  }
}
.footer {
  position: relative;
  &__logo {
    &__photo {
      width: 180px;
      height: 65px;
    }
  }
  padding: 40px 150px 40px 0px;
  @media (max-width: 375px) {
    padding: 150px 101px 83px 101px;
    margin-bottom: 40px;
  }
  background: #010a20;
  &-navigation {
    &__arrow {
      cursor: pointer;
      position: absolute;
      bottom: 100px;
      right: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      background: #dd2242;
      border-radius: 50%;
      font-size: 40px;
      color: whitesmoke;
      rotate: -90deg;
      text-align: center;
      @media (max-width: 375px) {
        bottom: 446px;
        right: 130px;
      }
    }
    justify-content: space-between;
    display: flex;
    align-items: center;
    @media (max-width: 375px) {
      flex-direction: column;
    }
    &-list {
      align-items: center;
      column-gap: 35px;
      font-weight: 700;
      font-size: 18px;
      display: flex;
      flex-direction: row;
      color: white;
      @media (max-width: 375px) {
        flex-direction: column;
      }
    }
  }
}
