@import "colors";
@import "reset";
@import "fonts";
@import "templates";
@import "mixins";

.header {
  &-cards {
    display: flex;
    padding: 41px 79px 48px 71px;
    justify-content: flex-end;
    align-items: center;
    background: rgba(0, 0, 0, 0.604);
    row-gap: 10px;
    column-gap: 200px;
    margin-left: 232px;
  }
  &__button {
    color: white;
    background: #dd2242;
    padding: 26px 64px;
    border-radius: 211px;
    cursor: pointer;
    margin-left: 232px;
    margin-top: 20px;
    margin-bottom: 241px;
  }
  &__title {
    font-weight: 900;
    font-size: 120px;
    line-height: 108%;
    text-transform: uppercase;
    color: white;
    margin-top: 200px;
    margin-left: 230px;
  }
  padding-top: 28px;
  .right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
    margin-right: 140px;
  }
  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    &__number {
      color: red;
      font-weight: 900;
    }
    &__title {
      color: white;
      font-size: 26px;
      font-weight: 700;
    }
    &__desc {
      color: gray;
      font-size: 18px;
      letter-spacing: 0.03em;
    }
  }
  &-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-list {
      display: flex;
      align-items: center;
      column-gap: 62px;
      &-item__link {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
  background: url(/images/bg-header.png) no-repeat center/cover;
}
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 200px;
  padding: 338px 207px;
  background: url(/images/card-background.jpg) no-repeat center/cover;
  &-card {
    display: flex;
    align-items: center;
    &-info {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      &__btn {
        color: whitesmoke;
        background: #dd2242;
        border-radius: 30px;
        padding: 16px 40px;
        align-self: flex-start;
        margin-top: 32px;
      }
      &__title {
        color: whitesmoke;
      }
      &__desc {
        color: grey;
      }
    }
    column-gap: 130px;
    &__photo {
      width: 50%;
      height: 460px;
      border-radius: 20px;
    }
  }
}
.secrets {
  background: url(/images/landscape.png) no-repeat center/cover;

  &-numbers {
    display: flex;
    padding: 200px 322px 224px 322px;
    justify-content: center;
    flex-direction: column;
    margin-top: 1000px;
    background: #020c21ef;
    &__title{
      color: white;
      font-size: 60px;
      text-align: center;
      font-weight: 700;
      margin-bottom: 36px;
    }
    &__desc{
   color: gray;
   text-align: center;
   margin-bottom: 40px;
    }
    &-cards {
      display: flex;
      justify-content: space-between;
      &-item {
        &__title {
          font-size: 46px;
          font-weight: 700;
          color: #dd2242;
          text-align: center;
        }
        &__desc {
          font-size: 18px;
          margin-top: 18px;
          color: gray;
          text-align: center;
        }
      }
    }
  }
  &__title {
    text-align: center;
    margin-top: 130px;
    font-size: 50px;
    font-weight: 900;
  }
  &-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    margin-top: 44px;
  }
}

.learn {
  background: url();
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    margin-top: 250px;
    font-size: 42px;
    text-align: center;
    column-gap: 30px;
  }

  &__desc {
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
  }
  &__btn {
    margin-top: 40px;
    background: #dd2242;
    color: whitesmoke;
    border-radius: 30px;
    width: 210px;
    height: 60px;
    margin-bottom: 260px;
  }
}
